<launch>

<include file="$(find vilib_ros)/launch/vilib_base.launch"/>
<!--include file="$(find vilib_ros)/launch/vilib_tracker.launch"/-->

<!--Launch camera-->
<include file="$(find jetson_csi_cam)/launch/jetson_csi_cam.launch">
<arg name="sensor_id" value="0" />
<arg name="cam_name" value="cam_L" />
</include>
</launch>
